@use "../../../styles/colors";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.link {
    color: map-get(colors.$zb-theme, "p-dark");
    
    :hover {
        color: map-get(colors.$zb-theme, "p-dark");
    }
}

.cardHover:hover {
    box-shadow: $box-shadow;
}
