.content.m-0.p-0.w-100
  .container-fluid.w-100.p-0.mb-2.mb-md-6
    .row
       .col-12
          .card.mb-0
            .hero-img-height.hero-img-cover(style='background-image: url(/assets/img/info/ZBHero_Mission.jpg); filter:brightness(70%)', alt='Our Mission')
  .container
    .row.m-2
      .col-12(style="margin: 0 auto;")
        .card(style="border:none; background-color:").shadow-none
          .card-body.shadow-none
            .row.align-items-center
              .col-lg-12.d-flex.justify-content-center.text-center
                h1 Everything You Need To Know About

            .row.align-items-center
              .col-lg-12.text-center
                img(src="/assets/img/info/ZerobaseLogo_light.png" style="width:50%")

    .row.m-4.mb-6
        .col-lg-6.col-12.pr-lg-5
          p.h1.lh-180.mb-3
            | Zerobase is a free, privacy first contact tracing platform that empowers both individuals and local officials to stop the spread of COVID-19.
        .col-lg-6.col-12
          p.lead.lh-180
            | Contact tracing is the identification of likely disease-spreading interaction between individuals－it is a crucial part of modern pandemic response.
          p.lead.lh-180
            | Zerobase enables local communities to establish their first line of defense against COVID-19 outbreaks in a way that is private, easy to use, and helps to alleviate the manual issues involved in contact tracing and individualized testing.
          a.btn.btn-outline-dark.font-weight-normal(href='https://www.who.int/features/qa/contact-tracing/en/' role="button" style="border-color: #65C6E1; color:#65C6E1") More about contact tracing

    .row.m-4.p-5.mt-5.border-top.border-secondary.pb-4.pt-4
        .col-12.col-lg-12.pr-lg-5.mt-6
            p.h1.lh-180.mb-3.font-weight-normal
               | We built Zerobase to help real people
    .row.m-4
        .col-lg-4.col-12.text-center.mb-2
           img.w-75.mt-3.mb-3.card-img(src='/assets/img/earth.png', alt='Zerobase Shield')
        .col-12.col-lg-8
            .row
                .col-12
                    p.h1.lh-180.mb-4.text-justify
                        | Zerobase:
                .col-lg-6.col-12

                  h2 Puts Privacy First.
                  p
                    | We provide an effective tracing solution for local governments and communities without compromising individual privacy or reducing trust.


                .col-lg-6.col-12
                  h2 Is Easy to Use.
                  p
                    | Anyone with a smartphone can use Zerobase by simply opening their camera. New users are enrolled immediately without any signup process.

            .row
                .col-lg-6.col-12
                  h2 Is Accessible.
                  p
                    | Zerobase’s coverage is worldwide, supporting Edge (low speed cellular), 3G, 4G, or WiFi. We offer
                    | no-internet solutions as well. Anyone in the world can immediately use it, no matter where they are.

                  p


                .col-lg-6.col-12
                  h2 Is Free.
                  p
                    | Our infrastructure is free to use. From New York City to Nairobi, anyone can use Zerobase to begin keeping themselves and their community safe. Zerobase has been organized as a nonprofit effort and labor has been donated.

    .row.m-4.p-5.mt-5.border-top.border-secondary.pb-4.pt-4
        .col-12.col-lg-12.pr-lg-5.mt-6
            p.h1.lh-180.mb-3.font-weight-normal.text-align-center
               | Here’s how Zerobase could protect your community:

    .row.text-align-center
        .col-lg-4.col-12
            img(src='/assets/img/info/1.png' style='width: 100%; display: inline-block; opacity: 1;')
        .col-lg-4.col-12
            img(style='width: 100%; display: inline-block; opacity: 1;' src='/assets/img/info/3.png')
        .col-lg-4.col-12
            img(style='width: 100%; display: inline-block; opacity: 1;' src='/assets/img/info/4.png')
    .row.text-align-center.mt-5
        .col-12
            .card.m-5
                .card-body.p-5
                   ol.h4.font-weight-normal
                     li.mb-4
                        strong Paper printouts with unique Zerobase QR codes
                        |   are posted at the entrances and touchpoints of public locations like grocery store cash registers, restaurant entrances, pharmacies, doctors' offices, and places of worship.

                     li.mb-4
                        strong People entering a participating location scan the code
                        |   – this is as simple as pointing a phone’s camera at the sign; it takes just a few seconds, and no app download is required. Here is an example code that you can scan right now:
                        br

                     li.mb-4(style='text-align: center; display: block')
                        img.text-align-center(style='width: 25%; display: inline-block; opacity: 1;' src='/assets/img/qr_scan_temp.jpg')

                     li.mb-4(style='display: block')
                        | Individuals may choose to share their phone number in order to be notified by public health authorities (or automatically by Zerobase, if so desired) if they have been exposed. By default, no personal information is required.
                     li.mb-4
                        strong If an individual receives a COVID-19 test,
                        |   they are given a sheet of paper with a Zerobase QR code on it to scan as part of the intake process. Each code sheet is unique and anonymous. Batches of code sheets can be printed at testing centers or distributed to drive-through sites.

                     li.mb-4
                        strong Zerobase’s contact tracing technology anonymously analyzes
                        |   community networks of interaction to identify people who visited the same places at roughly the same times. It then links an individual who has been tested to the individuals that they were near to construct a list of individuals that may have been exposed.

                     li.mb-4
                        strong Public health officials can identify
                        |   the community touchpoints through which the virus seems to be spreading most rapidly. They can also notify the individuals who may have been exposed and advise them to self-quarantine, even before they exhibit symptoms.

    hr
    .row.m-4.p-5.mt-5.pb-4.pt-4
        .col-12.col-lg-12.pr-lg-5.mt-6
            p.h1.lh-180.mb-1.font-weight-normal.text-align-center
               | FAQs
    .row.m-4.justify-content-between.mb-5
      .col-lg-3.col-md-12.col-12.text-lg-right
        h4.m-0 Can’t large companies do this at scale with their location history?

        h4.mb-4 How is Zerobase unique?
      .col-lg-8.col-12
        p.h3.font-weight-normal
          | Other approaches can indeed geo-tag your movements at all times. But there are tradeoffs to those approaches:
        ul
            li.mb-2 Location data is extremely imprecise, sometimes off by over 300 feet, especially indoors. Zerobase not only pinpoints the exact locations of community touchpoints, it is designed to focus on the specific high-traffic areas where the virus is most likely to spread - for example, inside buildings.
            li.mb-2 While they have location history for their enrolled users, they are missing data for individuals who are not users of their platform. Zerobase is unique in that 100% of users are immediately enrolled via an instant check-in at all participating locations.
            li.mb-2 GPS solutions log locations for the 99.99% of the day that an infected individual spends not transmitting the virus. Zerobase hones in on the critical moments in public spaces that the infection may spread, making more accurate and focused determinations.
        p.bg-secondary.text-white.p-3
            |Fundamentally, location tracking is both ineffective and unnecessary. Putting privacy first is critical to establishing trust and community buy-in. In many communities, there has been significant resistance to adopting more socially intrusive automated tracking and tracing methods.
            |
            |Community adoption and trustworthiness have been key design criteria since Zerobase’s inception. We believe in “Big Data without Big Brother.”

    .row.m-4.justify-content-between.mb-5
      .col-lg-3.col-md-12.col-12.text-lg-right
        h4.mb-0 What information is collected
        h4.mb-4 by Zerobase?
      .col-lg-8.col-12
          p
            | An individual’s identity is never deduced by the system, and any personal information shared voluntarily is stored securely. Zerobase is built from the ground up with security and privacy in mind and abides by relevant local, state, and federal laws.
            | To read more about how we put your privacy first, click
            router-link.text-wrap(to='/privacy-policy')     here.

    .row.m-4.justify-content-between.mb-5
      .col-lg-3.col-md-12.col-12.text-lg-right
        h4.mb-4 What is required to use Zerobase in your community?
      .col-lg-8.col-md-12.col-12.
         p
            | A computer and a printer are all that is required for businesses, public locations, and healthcare providers to activate Zerobase. Individual community members only need a smartphone.
    hr
    .row.m-4.align-items-center
       .col-lg-12.text-center
          h2 For press inquiries, please contact press@zerobase.io
