.content.m-0.p-0.w-100
  .container-fluid.w-100.p-0.mb-2.mb-md-6
    .row
       .col-12
          .card.mb-0
            .hero-img-height.hero-img-cover-top(style='background-image: url(/assets/img/info/ZB_containers_location.jpg); filter:brightness(70%);', alt='Man putting open sign in window.')

  .container
    .row.m-2.mb-6
      .title.col-12.col-md-8
        h2.align-center.pb-3.mbr-fonts-style.display-3
          | Businesses and Public Locations
        h3.mbr-section-subtitle.align-center.mbr-light.mbr-fonts-style.display-5
          | Lead your community in the fight against COVID-19.

    .row.m-2.mb-md-5
        .col-lg-6.col-12.pr-lg-5
          h1.h1.lh-180.mb-3
            | Zerobase is a free, privacy-first contact tracing platform that empowers both individuals and local officials to stop the spread of COVID-19.
        .col-lg-6.col-12
          h2.lead.lh-180
            | Zerobase anonymously monitors the spread of the virus and warns exposed individuals to stay at home and avoid infecting other members of the community.
          h2.lead.lh-180
            | With your help, we can keep the public healthy and businesses open, putting your community back on its feet.

    .container
      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                h3.mbr-text.mb-0.mbr-fonts-style
                  strong Unlike other contact tracing mechanisms developed so far,
                p.mbr-text.mb-0.mbr-fonts-style
                  |     Zerobase doesn't track GPS locations, require downloading an app, or require intrusive technology to be installed in your building. By automatically notifying individuals to stay home if they’ve been exposed, Zerobase takes the burden off you to ensure that your location and employees are safe- without any extra staff.


      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                h3.mbr-text.mb-0.mbr-fonts-style
                  strong Here’s how it works:
                p.mbr-text.mb-0.mbr-fonts-style
                  |     Paper printouts with unique Zerobase QR codes are posted at entrances and touchpoints of your location, for example the front door and the cash register. People entering your location scan the code by simply pointing their phone’s camera at the sign – it takes just a few seconds. Zerobase’s tracing technology anonymously analyzes community networks of interaction to identify people who may have been exposed.

      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                h3.mbr-text.mb-0.mbr-fonts-style
                  strong If an individual is exposed to or contracts COVID-19,
                p.mbr-text.mb-0.mbr-fonts-style
                  |     public health officials can use Zerobase to direct anyone who has been in their presence to self-quarantine and stop the virus from spreading. In this way, Zerobase keeps your employees and your location safe.

      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                h1.mbr-text.mb-0.mbr-fonts-style
                  strong At no point does an individual’s check-in get tracked alongside their identity.

      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                h3.mbr-text.mb-0.mbr-fonts-style
                  strong Zerobase is deployable by businesses and community touchpoints
                p.mbr-text.mb-0.mbr-fonts-style
                  |     with nothing more than a computer and a printer. Because of this, Zerobase can be deployed everywhere in minutes to be accessible to and instantly usable by all. By joining the Zerobase network of businesses, public locations, and community touchpoints, you are doing your part to end the spread of the virus and revitalize your community.
      br
      br
      .container
        .row.m-4.p-5.mt-5.border-top.border-secondary.pb-4.pt-4
            .col-lg-8.col-12.pr-lg-5.mt-6
                h3.h1.lh-180.mb-3
                   | Lead your community in the fight against COVID-19.
                h3.h2.font-weight-normal
                   |Zerobase is free, it’s ready, and it saves lives.

            .col-lg-4.col-12.align-middle.mt-6
                router-link.btn.btn-primary.btn-lg.align-middle(to='/business/register', id='register-business')
                  | Enroll in under a minute






