.content
  .container(style='padding:0;')
    .card.card-lg
      .card-body
        .markdown
          .d-flex
          h2 Zerobase is a privacy-first contact tracing platform for communities to establish the first line of defense against COVID-19 spread. By simply scanning a QR code, the Zerobase platform anonymously traces where infected individuals have been to protect communities before an outbreak occurs. It's free, ready now, and can save lives.
          h2 Why should communities use Zerobase?

          p #[Because it’s your community’s first line of defense:] Zerobase deploys contact tracing across a community in a way that is anonymous, fast, and easy to use. You can allocate your time and resources more efficiently, elevating your community’s ability to contain the virus. We provide you with an easy way to recreate those interactions instantaneously without invading your community’s privacy to enable actions with conviction like recommending that someone self-quarantine or be registered for a COVID-19 test. With Zerobase, you’ll know when an outbreak is starting to happen so that you can quickly deploy testing facilities and contain the spread. The early deployment of Zerobase to build up a strong check-in repository will make each marginal test extremely powerful - this will be critical in places with resource limitations or limited test kits.

          p #[Because contact tracing contains outbreaks:] Contact tracing is the identification of likely disease-spreading interaction between individuals. Research finds that first-degree real-time contact tracing can be crucial in stopping the spread when regularly used by a large number of people.* If an individual is exposed to COVID-19, contact tracing allows us to identify any number of others who were in the same place, such as a grocery store, around the same time as someone with the virus. Community healthcare providers, with the help of Zerobase, can then provide personalized recommendations to potentially-affected people. This includes directives to self-quarantine or to get tested, thus slowing the spread of the virus.

          p #[Because it reduces resurgence:] Zerobase helps contain the spread of infection and resurgence through automated notifications of an individual’s interactions when they are likely infected. As a government you can immediately implement contact tracing to your community and speed up the process of community adoption.

          p #[The best time to implement Zerobase in your community was last week. The second best time is now.]

          h2 How do I contact Zerobase?
          p
            | You can always contact us at
            a(href="mailto:info@zerobase.io") info@zerobase.io
            |.

          h2 SOURCES
          p *Ferretti, L., Wymant, C., Kendall, M., Zhao, L., Nurtay, A., Bonsall, D., Fraser, C. (2020). Quantifying dynamics of SARS-CoV-2 transmission suggests that epidemic control and avoidance is feasible through instantaneous digital contact tracing. The Lancet. 8(4), 448-496. doi:
          |
          a(href="https://doi.org/10.1016/S2214-109X(20)30074-7") https://doi.org/10.1016/S2214-109X(20)30074-7
          |

