.content
	.container(style='{{"padding":"0"}}')
		iframe.airtable-embed.airtable-dynamic-height(src='https://airtable.com/embed/shrUJuPNPVpxebXRB?backgroundColor=yellow', frameborder='0', width='100%', height='1149', style='{{"background":"transparent"}}')

