.content
    .container.position-relative
      .row.align-items-center
        .col-12.col-lg-6.pr-lg-5
          h6.text-white - Build like a Pro
          h1.display-4.text-white.font-weight-bolder.mb-4
            | A better way 
            strong.d-block.text-primary.font-weight-bold.h1 to build websites.
          p.lead.text-white.opacity-8
            | Build a beautiful, modern website with flexible components and modular pages built from scratch.
          .mt-5
            a.btn.btn-primary.btn-icon.d-none.d-lg-inline-block(href='https://themes.getbootstrap.com/product/quick-website-ui-kit-2/', target='_blank') Puchase Quick
            a.btn.btn-white.btn-icon(href='#')
              span.btn-inner--text Learn more
              span.btn-inner--icon
                svg.feather.feather-arrow-right(xmlns='http://www.w3.org/2000/svg', width='1em', height='1em', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  line(x1='5', y1='12', x2='19', y2='12')
                  polyline(points='12 5 19 12 12 19')
          .mt-5.mt-lg-5.mt-xl-7
            h6.text-sm.text-white.opacity-7.mb-3 Compatible with:
            .d-flex
              .mr-3
                .icon.icon-shape.icon-white.rounded-circle(data-toggle='tooltip', title='', data-original-title='Bootstrap 4.4.1')
                  img(alt='Image placeholder', src='https://webpixels.s3.eu-central-1.amazonaws.com/public/icons/bootstrap.svg', style='width:20px')
              .mr-3
                .icon.icon-shape.icon-white.rounded-circle(data-toggle='tooltip', title='', data-original-title='HTML5')
                  img(alt='Image placeholder', src='https://webpixels.s3.eu-central-1.amazonaws.com/public/icons/html.svg', style='width:20px')
              .mr-3
                .icon.icon-shape.icon-white.rounded-circle(data-toggle='tooltip', title='', data-original-title='CSS3')
                  img(alt='Image placeholder', src='https://webpixels.s3.eu-central-1.amazonaws.com/public/icons/css.svg', style='width:20px')
              .mr-3
                .icon.icon-shape.icon-white.rounded-circle(data-toggle='tooltip', title='', data-original-title='Sass')
                  img(alt='Image placeholder', src='https://webpixels.s3.eu-central-1.amazonaws.com/public/icons/sass.svg', style='width:20px')
              .mr-3
                .icon.icon-shape.icon-white.rounded-circle(data-toggle='tooltip', title='', data-original-title='jQuery')
                  img(alt='Image placeholder', src='https://webpixels.s3.eu-central-1.amazonaws.com/public/icons/jquery.svg', style='width:20px')
        .col-12.col-lg-6.mt-7.mt-lg-0
          .position-relative.left-8.left-lg-0
            figure
              img.img-fluid.mw-lg-120.rounded-top.shadow-lg.zindex-100(alt='Image placeholder', src='assets/img/theme/light/screen-desktop-1.jpg')
          figure.col-7.col-md-6.col-lg-5.px-0.position-absolute.bottom-0.left-4.left-lg-n5.z-index-101.overflow-hidden(style='height:420px')
            img.img-fluid.rounded.shadow(alt='Image placeholder', src='assets/img/theme/light/screen-phone-3.jpg')

    
    //- .container(style='padding:0;')
    //-     script(src='https://static.airtable.com/js/embed/embed_snippet_v1.js')
    //-     iframe.airtable-embed.airtable-dynamic-height(src='https://airtable.com/embed/shrnYjRudkIBlXzr9?backgroundColor=yellow', frameborder='0', onmousewheel='', width='100%', height='1149', style='background: transparent; border: 1px solid #ccc;')

