.content
  .container(style='padding:0;')
    .card
      .card-body#body-healthcare-register
        h3.mb-5 Register your healthcare organization
        .alert.alert-warning.d-none(role='alert')
          | Some of your information could not be verified, please try again
        .alert.alert-success.d-none(role='alert')
          i.fe.fe-check.mr-2
          | Great! Check your email to access your codes &mdash; 
          a.alert-link(href='#', target='_blank') check it out
          | !
        .row
          .col-12.col-md-7
            form.register-healthcare
              label.form-label Organization Name
                input.form-control(type='text', name='org_name', placeholder='Organization name', required)
              .input-icon.mb-2
                input.form-control(type='text', name='org_place', placeholder='Type and select location', id="healthcare-addr", autocomplete="off", autocorrect="off", autocapitalize="none", spellcheck="false", required)

                input(type='hidden', name='premise',            id="healthcare-premise")
                input(type='hidden', name='thoroughfare',       id="healthcare-thoroughfare")
                input(type='hidden', name='locality',           id="healthcare-locality")
                input(type='hidden', name='administrativeArea', id="healthcare-administrativeArea")
                input(type='hidden', name='postalCode',         id="healthcare-postalCode")
                input(type='hidden', name='country',            id="healthcare-country")

              label.form-label Facility Type
              .mb-2
                select.form-select.healthcare-type(name='type')
                  option(value='HEALTH/DOCTOR_OFFICE') Hospital
                  option(value='HEALTH/HOSPITAL') Doctor Office
                  option(value='HEALTH/PHARMACY') Pharmacy
                  option(value='HEALTH/OTHER') Pharmacy
              .mb-3
                label.form-check
                  input.form-check-input(type='checkbox', name='hasTestingFacilities')
                  span.form-check-label
                    | Our facility administers COVID-19 tests
              label.form-label Point of Contact
              .input-icon.mb-2
                input.form-control(type='name', name='contact_name', placeholder='Contact name', required)
              .input-icon.mb-2
                input.form-control(type='email', name='email', placeholder='Email address', required)
              .input-icon.mb-2
                input.form-control(type='tel', name='phone', placeholder='Phone number', id='healthcare-phone', required)
              .form-footer
                button.btn.btn-primary.btn-block(type="submit", id="submit-healthcare") Generate your codes
          .col-12.col-md-5
            .card.mt-4
              img.card-img-top(src='/assets/img/info/1-narrow.png', alt='Man posts QR code on wall.')
              .card-body
                .small 
                  | Register below to receive your unique, single-use codes by email. Print them out, attach to your intake forms. 
                  a(data-dismiss='modal', aria-label='Close', href='#tabs-healthcare', data-toggle='view') Click to learn more.
              .card-footer
                .small 
                  | Email us at 
                  a(href="mailto:info@zerobase.io") info@zerobase.io
                      