.content.pt-0
  .container-fluid.p-0
    .row(style='padding:0;')
      .col-12
        .card.mb-0
          .hero-img-height.hero-img-cover-center(style='background-image: url(/assets/img/QR_Codes_Main_ZB_dark.jpg); filter:brightness(70%);', alt='Phone scanning Zerobase QR code.')
          .card-img-overlay.text-center.d-flex.align-items-center
            .container
              h1.text-white Help Your Community End Coronavirus
              h3.text-white.forScreen Essential. Anonymous. Accessible to all.
              a.btn.btn-primary.mt-6.md-5(href='/privacy')
                i.fe.fe-eye.mr-2
                | Read Our Privacy-First Commitment
  .container(style='padding:0;')
    .row
      .col-12(style="margin: 0 auto;")
        .card.mt-4.mb-4(style="border:none; background-color:").shadow-none
          .card-body
            .row.row-sm.align-items-center.shadow-none
              .col-md-4.col-12.text-center
                img.w-50(src="/assets/img/ZerobaseLogo_icon.png", alt='Zerobase Logo')
                //-span.avatar.avatar-xl.rounded.mr-5(style='background-image: url(/assets/img/ZerobaseLogo_icon.png); background-color:white;')
              .col-md-8.col-12
                h1 Our Mission
                p.lead.lh-190
                  | The Zerobase Foundation is a nonprofit organization whose mission is to build open source public health technology for the good of communities around the world.
                  | Our free, privacy-first contact tracing empowers both individuals and communities to stop the spread of COVID-19.
    .row.mt-0.mt-md-4
      router-link(to='/businesses').col-12.col-md-4.order-1.d-flex.align-items-stretch(style="color:black")
        .card.hover-translate-y-n10.hover-shadow-lg
          img.card-img-top(src='/assets/img/info/ZB_containers_location.jpg', alt='Man putting open sign in window.')
          .card-body
            h3.card-title Business and Public Locations
            p
              | Play a vital role in stopping the spread of coronavirus in your community by enabling anonymous check-ins at your door in seconds. Stay ahead of the curve and keep your patrons and staff safe.

      router-link(to='/testing').col-12.col-md-4.order-1.d-flex.align-items-stretch(style="color:black")
        .card.hover-translate-y-n10.hover-shadow-lg
          img.card-img-top(src='/assets/img/info/ZB_containers_testing.jpg', alt='Nurse with clip board talking to patient.')
          .card-body
            h3.card-title Testing Centers
            p
                | Use our powerful tracing technology to maximize the value of every COVID-19 test in your area and keep your community safe.

      router-link(to='/community').col-12.col-md-4.order-1.d-flex.align-items-stretch(style="color:black")
        .card.hover-translate-y-n10.hover-shadow-lg
          img.card-img-top(src='/assets/img/info/ZB_containers_community.jpg', alt='Woman at podium speaking to audience.')
          .card-body
            h3.card-title Public Officials
            p
                | Use our smart contact tracing platform to get customized, deep insight into the local dynamics of the epidemic and provide instant, individualized guidance to community members.
