.content.m-0.p-0.w-100
  .container-fluid.w-100.p-0.mb-2.mb-md-6
    .row
       .col-12
          .card.mb-0
            .hero-img-height.hero-img-cover(style='background-image: url(/assets/img/info/ZB_containers_testing.jpg); filter:brightness(70%)')
  
  .container
    .row.m-2.mb-6
      .title.col-12.col-md-8
        h2.align-center.pb-3.mbr-fonts-style.display-3
          | Individuals
        h3.mbr-section-subtitle.align-center.mbr-light.mbr-fonts-style.display-5
          | Support your community in the fight against COVID-19.

    .row.m-2.mb-md-5
        .col-lg-6.col-12.pr-lg-5
          p.h1.lh-180.mb-3(style="font-size:30px;")
            | Zerobase is a free, privacy-first contact tracing platform that empowers you to help your community stop the spread of COVID-19.
        .col-lg-6.col-12
          p.lead.lh-180(style="font-size:24px;")
            | At the core of Zerobase is our QR code network that traces the spread of the virus, even among individuals who aren’t showing symptoms, without GPS tracking or installing an app.
          p.lead.lh-180(style="font-size:24px;")
            | By simply scanning a QR code when you walk into a grocery store, a pharmacy, or another community location, you’re helping keep yourself, your family, and your community safe while protecting your privacy.


  .container.mt-6
     .row.m-4.p-5.mt-5.border-top.border-secondary.pb-4.pt-4
        .col-12(style="font-size:48px;")
            strong Here's how it works:

     .row.align-middle
        .col-lg-3.col-3.text-center
            p(style="font-size:76px;")
              strong 1

        .col-lg-9.col-9.align-middle.my-auto
            p.align-middle(style="font-size:24px;")
                strong Unique Zerobase QR codes
                |       are posted at the entrances of buildings like grocery stores, restaurants, pharmacies, doctor's offices, and places of worship.


     .row.align-middle
        .col-lg-3.col-3.text-center
            p(style="font-size:76px;")
              strong 2

        .col-lg-9.col-9.align-middle.my-auto
            p.align-middle(style="font-size:24px;")
                | Each time you visit a location,
                strong      scan the code
                |       by simply pointing your phone’s camera at the sign – it takes just a few seconds, and no app installation is required. Zerobase never tracks your identity or monitors your GPS location. If you would like to be notified if you may have been exposed to COVID-19, you may voluntarily and securely store your phone number. Any information provided is encrypted and used only to keep you informed.


     .row.align-middle
        .col-lg-3.col-3.text-center
            p(style="font-size:76px;")
              strong 3

        .col-lg-9.col-9.align-middle.my-auto
            p.align-middle(style="font-size:24px;")
                | Our tracing technology
                strong      anonymously links
                |       community networks of contact to identify people who visited the same place at roughly the same time.


     .row.align-middle
        .col-lg-3.col-3.text-center
            p(style="font-size:76px;")
              strong 4

        .col-lg-9.col-9.align-middle.my-auto
            p.align-middle(style="font-size:24px;")
                | If someone is
                strong      exposed to COVID-19,
                |       public health officials can use Zerobase to direct community members who might have come into contact with them to self-quarantine and get tested. In this way, Zerobase helps stop the spread of the infection proactively and flatten the curve sooner.


     .media-container-row.mt-6.mb-8
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                p.mbr-text.mb-0.mbr-fonts-style.text-center(style="font-size:36px;")
                  strong By checking in anonymously to community touchpoints, you’re doing your part to keep your community healthy and safe.





