
.mission-hero
  .hero
    .hero-top-text.h1 Our Mission


.content.pt-0.pt-lg-4
  .container(style='padding:0;')
    .row
      .col-12.col-lg-12.order-1
        .card
            .card-body
                h1 Never again should a virus take hold of a community’s confidence and stability
                br
                p.mission-font In the absence of a globally deployable vaccine, we enable people to start interacting with each other again
                br
                br

                .row
                    .col-12.col-lg-4
                        p.bold Zero cost

                        p The Zerobase Foundation (Zerobase) is a nonprofit effort to stop the spread of COVID-19 around the world by using a privacy-focused contact tracing software.
                    .col-12.col-lg-4
                        p.bold Privacy Focused

                        p We believe that the best way to address and reduce the spread of COVID-19, is through an anonymous contact tracing solution that is privacy focused, is easy to use, and can be implemented right away.

                    .col-12.col-lg-4
                        p.bold Intelligent Tools

                        p Zerobase provides the tools through which a community can regain a sense of normalcy.






