.content.p-0
	.container-fluid.w-100.p-0.mb-2.mb-md-6
		.row
			.col-12
				.card.mb-0
					.hero-img-height.hero-img-cover-top(style='background-image: url(/assets/img/info/ZBHero_volunteer.jpg); filter:brightness(70%)', alt='Nurse with clip board talking to patient.')
					.card-img-overlay.text-center.d-flex.align-items-center
						.container
							h2.text-white.mbr-fonts-style.display-4.text-center The Zerobase Foundation
							//h3.text-white.forScreen who what why

	.container
		.row.m-2.mb-md-5
			.col-lg-12.col-12
				p.lead.lh-180(style="font-size:24px;")
					| The Zerobase Foundation is an international nonprofit organization of volunteer technologists, business leaders, medical professionals, and concerned citizens. Zerobase builds free and open source public health technology for the good of communities around the world.

	.container
		.row.m-2.vertical-align-middle
			.title.col-12
				h3.align-center.pb-3.mbr-fonts-style.display-4.text-center
					| Our Team
		.row.justify-content-between
			.col-12.col-md-6.order-2.order-md-1
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/aron.jpg);')
							.col
								.text-muted Co-Founder
								h3.m-0
									| Aron Szanto
						.row.mt-4
							.col-12
								.text-muted
									| Aron leads the Zerobase Foundation team. Aron’s background is in the study of the spread of misinformation through social networks. He holds dual research and engineering appointments at Harvard University and Kensho Technologies, where his work lies at the intersection of machine learning on networks and natural language processing. Aron completed undergraduate and graduate study in applied mathematics at Harvard University.
			.col-12.col-md-6.order-1.order-md-2
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/john.jpg);')
							.col
								.text-muted Co-Founder
								h3.m-0
									| John Lo
						.row.mt-4
							.col-12
								.text-muted
									| John leads product engineering at Zerobase. He conceptualized and developed the Zerobase contact tracing method in Cologne to give communities a scalable, privacy-first, virtual public health resource in the face of constrained physical resources. His past projects include tamper-proof hardware, zero knowledge proofs, and public health administration for marginalized communities. John studied statistics and computer science at Harvard University.
		.row
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/alicia.jpg);')
							.col
								.text-muted Director of Public Information
								h3.m-0
									| Alicia McCauley
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/bianca.jpg);')
							.col
								.text-muted Outreach Lead, General Counsel 
								h3.m-0
									| Bianca Victoria Scott
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/colm.jpg);')
							.col
								.text-muted Product Lead
								h3.m-0
									| Colm Byrne
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/david.jpg);')
							.col
								.text-muted Backend Lead
								h3.m-0
									| David Harris
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/erik.jpg);')
							.col
								.text-muted Deployments Lead
								h3.m-0
									| Erik Sogn
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/gary.jpg);')
							.col
								.text-muted Medical Lead
								h3.m-0
									| Gary Chizever, MD
			.col-12.col-md-4
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profiles/jason.jpg);')
							.col
								.text-muted Infrastructure and Security Lead
								h3.m-0
									| Jason Spriggs

		.row.m-2.mb-md-5.mt-md-5
			.col-lg-12.col-12
				p.lead.lh-180(style="font-size:24px;")
					| The Zerobase team comprises over 150 volunteers from dozens of countries around the world, including technologists, medical professionals, attorneys, political activists, and concerned citizens. No matter who or where you are, you can make an immediate impact on our efforts to bring free and accessible public health technology to the communities that need it most. 
					a(href='https://tinyurl.com/zerobase-volunteer', target="_blank") Join us!

		.row.m-2.vertical-align-middle
			.title.col-12
				h3.align-center.pb-3.mbr-fonts-style.display-4.text-center
					| Our Partners

		.row.mt-md-5.align-items-center.mb-md-6
			.col-md-3
			.col-md-3.col-12.text-center.mb-2
				img.w-100.pt-2.mt-md-5.mb-md-5.card-img(src='/assets/img/max_planck2.png', alt='Max Planck Institute' style="border-radius:2%")
				br
				a(href="https://www.mpg.de/en")
					br
					p.forScreen(style="font-size:20px;")
						| Max Planck Institute for Intelligent Systems

			.col-md-3.col-12.text-center.mb-2
				img.w-75.mb-md-2.card-img(src='/assets/img/necsi.png', alt='New England Complex Systems Institute' style="border-radius:2%")
				a(href="https://necsi.edu/")
					p.forScreen(style="font-size:20px;")
						| New England Complex Systems Institute







