.content.p-0
	.container-fluid.w-100.p-0.mb-2.mb-md-6
		.row
			.col-12
				.card.mb-0
					.hero-img-height.hero-img-cover-top(style='background-image: url(/assets/img/info/ZBHero_volunteer.jpg); filter:brightness(70%)', alt='Nurse with clip board talking to patient.')
					.card-img-overlay.text-center.d-flex.align-items-center
						.container
							h1.text-white.mbr-fonts-style.display-4.text-center The Zerobase Foundation
							//h3.text-white.forScreen who what why

	.container
		.row.m-2.mb-md-5
			.col-lg-12.col-12
				p.lead.lh-180(style="font-size:24px;")
					| The Zerobase Foundation is an international nonprofit organization of volunteer technologists, business leaders, medical professionals, and concerned citizens. Zerobase builds free and open source public health technology for the good of communities around the world.

	.container.px-4
		.row.justify-content-between
			.col-12.col-md-6.order-2.order-md-1
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profile_aron.jpg);')
							.col
								.text-muted Co-Founder
								h1.m-0
									| Aron Szanto
						.row.mt-4
							.col-12
								.text-muted
									| Aron leads machine learning at Zerobase. Aron’s background is in the study of the spread of misinformation through social networks. He holds dual research and engineering appointments at Harvard University and Kensho Technologies, where his work lies at the intersection of machine learning on networks and natural language processing. Aron completed undergraduate and graduate study in applied mathematics at Harvard University.
			.col-12.col-md-6.order-1.order-md-2
				.card.border-0.shadow-none
					.card-body
						.row.row-sm.align-items-center
							.col-auto
								span.avatar.avatar-xl.rounded(style='background-image: url(/assets/img/profile_john.jpg);')
							.col
								.text-muted Co-Founder
								h1.m-0
									| John Lo
						.row.mt-4
							.col-12
								.text-muted
									| John leads product at Zerobase. John developed the initial Zerobase contact tracing method in Cologne to give communities a scalable, privacy-first, virtual public health resource in the face of rapidly diminishing physical resources. His past projects have included tamper-proof hardware, zero knowledge proofs, and public health administration for marginalized communities. John studied statistics and computer science at Harvard University.

		.row.m-2.vertical-align-middle
			.title.col-12
				h2.align-center.pb-3.mbr-fonts-style.display-4.text-center
					| Our Partners

		.row.mt-md-5.align-items-center.mb-md-6
			.col-md-3
			.col-md-3.col-12.text-center.mb-2
				img.w-100.pt-2.mt-md-5.mb-md-5.card-img(src='/assets/img/max_planck2.png', alt='Max Planck Institute' style="border-radius:2%")
				br
				a(href="https://www.mpg.de/en")
					br
					p.forScreen(style="font-size:20px;")
						| Max Planck Institute for Intelligent Systems

			.col-md-3.col-12.text-center.mb-2
				img.w-75.mb-md-2.card-img(src='/assets/img/necsi.png', alt='New England Complex Systems Institute' style="border-radius:2%")
				a(href="https://necsi.edu/")
					p.forScreen(style="font-size:20px;")
						| New England Complex Systems Institute







