.content.pt-0.pb-0.mb-0
  .container-fluid.w-100.p-0.mb-md-6
      .row
         .col-12
            .card.mb-0
              .hero-img-height.hero-img-cover-center(style='background-image: url(/assets/img/info/ZBHero_privacy.jpg)', alt='Zerobase logo over network of dots connected with straight lines.')
  .container
      .row.m-4.mb-md-6
          .col-lg-8.col-12.pr-lg-5
            p.h1.mb-5(style="color:#1B2935; font-size:400%")
                | Privacy First
      .row.m-4.mb-md-5
          .col-lg-6.col-12.pr-lg-5
            p.h1.lh-180.mb-3(style="font-size:24px;")
              | Zerobase is designed from the ground up to put your privacy first.
          .col-lg-6.col-12
            p.lead.lh-180(style="font-size:24px;")
              | Unlike other contact tracing mechanisms developed so far, Zerobase does not track GPS locations or require downloading an application to your phone.
            p.lead.lh-180(style="font-size:24px;")
              | Instead, our QR network securely and privately traces the spread of COVID-19 throughout a community without tracking your personal identity or your location at all hours of the day.
      .row.m-4.mb-5
            .col-lg-6.col-12.pr-lg-5
              p.h1.lh-180.mb-3(style="font-size:24px;")
                | Zerobase was built to help real people.
            .col-lg-6.col-12
              p.lead.lh-180(style="font-size:24px;")
                | If you would like to be notified if you may have been exposed to COVID-19, you may voluntarily and securely store your phone number.
              p.lead.lh-180(style="font-size:24px;")
                |Any information provided is encrypted and used only to keep you informed.

  .container-fluid.w-100.p-0.mb-0(style="background-color:#65C6E1;")
      .card(style="background-color:#65C6E1;").shadow-none.border-0
          .row.justify-content-center.p-6
            .col-md-5.col-12.text-left
              h2.text-white.font-weight-normal(style="color:white; font-size:200%")
                p
                  | We do not work with advertisers.
                p
                  | We do not sell your information.
                p
                  | We adhere to industrial standards of data security.
            .col-md-5.col-12.text-left
              h2
                p.font-weight-normal(style="color:#1B2935; font-size:150%")
                  | We believe firmly in:
                p.font-weight-normal(style="color:#1B2935; font-size:200%")
                  strong “Big Data without Big Brother.”

  .container.d-flex.align-items-center.text-center.text-lg-left.py-5.py-lg-6
      .col.px-0

        .row.justify-content-center
          .col-lg-8.text-center
            a.btn.btn-secondary.btn-lg.h2.h1.mb-2(href='/privacy-policy' role='button' aria-expanded='false' aria-controls='collapseExample' style="word-wrap:break-word font-size:36px;")
              | Privacy Policy
            h6.font-weight-light.text-muted
              | Last updated: 6 April 2020