.content.m-0.p-0.w-100
  .container-fluid.w-100.p-0.mb-2.mb-md-6
    .row
       .col-12
          .card.mb-0
            .hero-img-height.hero-img-cover(style='background-image: url(/assets/img/info/ZB_containers_testing.jpg); filter:brightness(70%)', alt='Card image')
  .container
    .row.m-2.mb-6
      .title.col-12.col-md-6
        h2.align-center.pb-3.mbr-fonts-style.display-2
          | Healthcare and Testing Sites
        h3.mbr-section-subtitle.align-center.mbr-light.mbr-fonts-style.display-5
          | Support your community in the fight against COVID-19.

    .row.m-2.mb-md-5
      .col-lg-6.col-12.pr-lg-5
        p.h1.lh-180.mb-3(style="font-size:30px;")
          | Zerobase is a free, HIPAA/GDPR-compliant contact tracing platform that helps healthcare providers, local officials, and individuals contain and eliminate COVID-19.
      .col-lg-6.col-12
        p.lead.lh-180(style="font-size:24px;")
          | Providers who administer COVID-19 tests can deploy Zerobase with nothing more than paper printouts.
        p.lead.lh-180(style="font-size:24px;")
          | Because of this, Zerobase can be used at any freestanding, mobile, and temporary testing site.

    .container
      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                p.mbr-text.mb-0.mbr-fonts-style(style="font-size:24px;")
                  strong Our contact tracing platform monitors
                  |     the spread of the virus throughout a community and can provide individualized risk exposure scores, allowing providers to deploy scarce testing and protective resources most efficiently.


      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                p.mbr-text.mb-0.mbr-fonts-style(style="font-size:24px;")
                  strong Unlike other contact tracing mechanisms
                  |     developed so far, Zerobase does not track GPS locations, require downloading an app, or necessitate installing intrusive technology.


      .container.mt-6
         .row.m-4.p-5.mt-5.border-top.border-secondary.pb-4.pt-4
            .col-12(style="font-size:48px;")
                strong Here's how it works:

         .row.align-middle
            .col-lg-3.col-3.text-center
                p(style="font-size:76px;")
                  strong 1

            .col-lg-9.col-9.align-middle.my-auto
                p.align-middle(style="font-size:24px;")
                    | Upon intake, each patient tested for COVID-19 is given a sheet of paper with a Zerobase QR code on it to scan. Each code sheet is unique and anonymous. Batches of code sheets can be printed and used at testing centers or distributed to mobile or temporary sites.

         .row.align-middle
            .col-lg-3.col-3.text-center
                p(style="font-size:76px;")
                  strong 2

            .col-lg-9.col-9.align-middle.my-auto
                p.align-middle(style="font-size:24px;")
                    | Using the patient’s trace history, Zerobase’s technology anonymously analyzes community networks of interaction to calculate a risk score for the patient based on their check-in history.

         .row.align-middle
            .col-lg-3.col-3.text-center
                p(style="font-size:76px;")
                  strong 3

            .col-lg-9.col-9.align-middle.my-auto
                p.align-middle(style="font-size:24px;")
                    | Tracing and test results will be combined to identify individuals in a community who visited the same places as the patient around the same time.

         .row.align-middle
            .col-lg-3.col-3.text-center
                p(style="font-size:76px;")
                  strong 4

            .col-lg-9.col-9.align-middle.my-auto
                p.align-middle(style="font-size:24px;")
                    | Public health officials can then notify individuals who are registered for contact who may have been exposed and advise them to self-quarantine or get tested, even before they exhibit symptoms.



      .media-container-row.mt-6
        .col-lg-12.col-12
          .media-container-row
            .media-content
              .mbr-section-text
                p.mbr-text.mb-0.mbr-fonts-style(style="font-size:24px;")
                  strong Our team will work closely with you to ensure a smooth rollout in your facilities.
                  |     Zerobase is designed to support our vital healthcare partners and help them stay safe as they provide the critical emergency care that our communities depend on.
      br
      br
      .container
        .row.m-4.p-5.mt-5.border-top.border-secondary.pb-4.pt-4
            .col-lg-8.col-12.pr-lg-5.mt-6
                p.h1.lh-180.mb-3(style="font-size:24px;")
                   | Support your community in the fight against COVID-19.
                p.h2.font-weight-normal
                   |Zerobase is free, it’s ready, and it saves lives.

            .col-lg-4.col-12.align-middle.mt-6

                router-link.btn.btn-primary.btn-lg.align-middle(to='/healthcare/register') 
                  | Register your site






