.content
  .container(style='padding:0;')
    .card.card-lg
      .card-body
        .markdown
          .d-flex
          h2 Zerobase for Testing Facilities and Healthcare Providers

          a.btn.btn-primary(href='#', id="register-healthcare")
            i.fe.fe-check-square.mr-2
            | Generate and Print QR


          p
            | <br/>
            |Zerobase is a free, HIPAA/GDPR-compliant contact tracing platform that helps healthcare providers, local officials, and individuals contain and eliminate COVID-19.

          p Providers who administer COVID-19 tests can deploy Zerobase with nothing more than paper printouts. Because of this, Zerobase can be used at any freestanding, mobile, and temporary testing site.

          p Our contact tracing platform monitors the spread of the virus through a community and can provide individualized risk exposure scores, allowing providers to deploy scarce testing and protective resources most efficiently.

          p Unlike other contact tracing mechanisms developed so far, Zerobase does not track GPS locations, require downloading an app, or necessitate installing intrusive technology.

          h2 Here’s how it works:
          ol
            li Upon intake, each patient tested for COVID-19 is given a sheet of paper with a Zerobase QR code on it to scan. Each code sheet is unique and anonymous. Batches of code sheets can be printed and used at testing centers or distributed to mobile or temporary sites.
            li Using the patient’s trace history, Zerobase’s technology anonymously analyzes community networks of interaction to calculate a risk score for the patient based on their check-in history.
            li Tracing and test results will be combined to identify individuals in a community who visited the same places as the patient around the same time.
            li Public health officials can then notify individuals who are registered for contact who may have been exposed and advise them to self-quarantine or get tested, even before they exhibit symptoms.

          p Our team will work closely with you to ensure a smooth rollout in your facilities. Zerobase is designed to support our vital healthcare users and help them stay safe as they provide the critical emergency care that our communities depend on.

          h2 How do I contact Zerobase?
          p
            | You can always contact us at        
            a(href="mailto:info@zerobase.io") info@zerobase.io
            |.