.content.pt-0.pt-lg-4
  .container(style='padding:0;')
    .row
      .col-12.col-lg-6
        .m-4.forMobile
          a.btn.btn-primary.btn-block.p-3(id="nav-scan", href='#')
            i.fe.fe-maximize.mr-2
            | Scan Zerobase Code
        .card
          img.card-img-top(src='/dist/img/info/business.jpg', alt='Location Image')
          .card-body
            h3.card-title Are you a business or public location?
            p
              | Play a vital role in stopping the spread of coronavirus in your community by enabling anonymous check-ins at your door in seconds. Community check-ins are vital to public health tracing efforts.
              //- | Help your community build up resistance to COVID-19 now by enabling private check-ins in under 5 seconds. Community check-ins are vital to public health tracing efforts.
          .card-footer
            .row.align-items-center
              .col-auto
                a(href='#', id="landing-about") More information
              .col-auto.ml-auto.forMobile
                .justify-content-end
                  a.btn.btn-primary(href='#', id="landing-generate")
                    i.fe.fe-check-square.mr-2
                    | Generate and Print QR
      .col-12.col-lg-6
        .row
          //- .col-12
          //-   .alert.alert-standard.alert-dismissible(role='alert')
          //-     | Zerobase is deploying to
          //-     //- a.btn.btn-outline-standard.btn-outline-secondary.ml-4(href='#') Read more here
          //-     a.close(href='#', data-dismiss='alert', aria-label='close') &times;

          .col-12.col-lg-6.order-1
            .card
              img.card-img-top(src='/dist/img/info/healthcare.jpg', alt='Card top image')
              .card-body
                h3.card-title Are you a healthcare provider?
                p
                  | Get actionable insight into the dynamics of the infection in your locality through smart contact tracing.
              .card-footer
                .row.align-items-center
                  .col-auto
                    a(href='#', id="landing-about") More information
          .col-12.col-lg-6.order-2
            .card
              img.card-img-top(src='/dist/img/info/government.jpg', alt='Card top image')
              .card-body
                h3.card-title Are you a public official?
                p
                  | Deploy our powerful tracing technology to supercharge the effectiveness of every COVID-19 test in your area and keep your community safe.
              .card-footer
                .row.align-items-center
                  .col-auto
                    a(href='#', id="landing-about") More information
          .col-12.order-0.order-lg-3
            .card
              .card-body
                p
                  | If you're an 
                  b individual, 
                  | welcome! We believe smart technology built by caring humans can help keep every community safe. 
                  a(href="#") Learn more about Zerobase
              .card-footer
                .row.align-items-center
                  .col-auto
                    a(href='https://necsi-edu.slack.com/join/shared_invite/zt-cu5215sg-63h4A7uCy~ehDsrfAIJ~_Q', target='_blank') Join our team of volunteers!
                  .col-auto.ml-auto
                    .avatar-list.avatar-list-stacked
                      span.avatar(style='background-image: url(/dist/img/avatars/020m.png)')
                      span.avatar(style='background-image: url(/dist/img/avatars/021m.png)')
                      span.avatar(style='background-image: url(/dist/img/avatars/022m.png)')
                      span.avatar(style='background-image: url(/dist/img/avatars/023m.png)')
                      span.avatar.bg-blue-lt GW
                      span.avatar.bg-purple-lt EM
                      span.avatar +900

  footer#footer-main.position-relative
    .footer.pt-lg-6.footer-dark.bg-dark
      .container
        .row.justify-content-center
          .col-lg-12
            .row.align-items-center
              .col-lg-7
                h3.text-secondary.mb-2 Smart Tracing That Keeps Communities Safe
                p.lead.mb-0.text-white.opacity-8 Built for real humans in need by real humans who care.
              .col-lg-5.text-lg-right.mt-4.mt-lg-0
                a.btn.btn-white.btn-icon.my-2(href='https://www.github.com/zerobase-io/smart-tracing/wiki', target='_blank')
                  span.btn-inner--icon.mr-2
                    svg.feather.feather-book.text-primary(xmlns='http://www.w3.org/2000/svg', width='1em', height='1em', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                      path(d='M4 19.5A2.5 2.5 0 0 1 6.5 17H20')
                      path(d='M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z')
                  span.btn-inner--text Documentation
                a.btn.btn-github.my-2.ml-0.ml-sm-3(href='https://necsi-edu.slack.com/join/shared_invite/zt-cu5215sg-63h4A7uCy~ehDsrfAIJ~_Q', target='_blank') Join Us
        hr.divider.divider-fade.divider-dark.my-5
        .row
          .col-lg-4.mb-5.mb-lg-0
            a(href='index.html')
              img(alt='Zerobase logo', src='/dist/img/zerobase_logo_300_white.png', style="width:100px;")
            p.mt-4.text-sm.opacity-8.pr-lg-4
              | Zerobase builds open source technologies for public health. We believe that clever technology in strong communities will beat the coronavirus.
            ul.nav.mt-4
              li.nav-item
                a.nav-link(href='https://github.com/zerobase-io', target='_blank')
                  i.fe.fe-github
              li.nav-item
                a.nav-link(href='https://www.instagram.com/zerobase.app', target='_blank')
                  i.fe.fe-instagram
              li.nav-item
                a.nav-link(href='https://www.twitter.com/zerobaseio', target='_blank')
                  i.fe.fe-twitter
              li.nav-item
                a.nav-link(href='https://necsi-edu.slack.com/join/shared_invite/zt-cu5215sg-63h4A7uCy~ehDsrfAIJ~_Q', target='_blank')
                  i.fe.fe-slack
              //- li.nav-item
              //-   a.nav-link(href='https://www.facebook.com/webpixels', target='_blank')
              //-     i.fe.fe-facebook
          .col-lg-2.col-6.col-sm-4.ml-lg-auto.mb-5.mb-lg-0
            h6.heading.mb-3 Use Cases
            ul.list-unstyled
              li
                a(href='#') Individual
              li
                a(href='#') Business or Location
              li
                a(href='#') Healthcare Provider
              li
                a(href='#') Public Official
          .col-lg-2.col-6.col-sm-4.mb-5.mb-lg-0
            h6.heading.mb-3 About
            ul.list-unstyled
              li
                a(href='https://github.com/zerobase-io/smart-tracing/wiki', target="_blank") How to Deploy
              li
                a(href='https://github.com/zerobase-io/smart-tracing/wiki', target="_blank") HIPAA
              li
                a(href='https://github.com/zerobase-io/smart-tracing/wiki', target="_blank") GDPR
              li
                a(href='https://github.com/zerobase-io/smart-tracing/wiki', target="_blank") Roadmap
          .col-lg-2.col-6.col-sm-4.mb-5.mb-lg-0
            h6.heading.mb-3 Foundation
            ul.list-unstyled
              li
                a(href='#') Community
              li
                a(href='https://github.com/zerobase-io/', target="_blank") Help center
              li
                a(href='mailto:info@zerobase.io', target="_blank") Support
        hr.divider.divider-fade.divider-dark.my-4
        .row.align-items-center.justify-content-md-between.pb-4
          .col-md-6
            .copyright.text-sm.font-weight-bold.text-center.text-md-left
              | &copy; 2020 
              a.font-weight-bold(href='https://github.com/zerobase-io/', target='_blank') Zerobase
              | . All rights reserved.
          .col-md-6
            ul.nav.justify-content-center.justify-content-md-end.mt-3.mt-md-0
              li.nav-item
                a.nav-link(href='https://github.com/zerobase-io/smart-tracing/wiki', target='_blank') Terms
              li.nav-item
                a.nav-link(href='https://github.com/zerobase-io/smart-tracing/wiki', target='_blank') Privacy
              li.nav-item
                a.nav-link(href='https://github.com/zerobase-io/smart-tracing/wiki', target='_blank') Cookies