.content
  .container(style='padding:0;')
    .card
      ul.list-group.card-list-group(id="news-feed-container")
        li.list-group-item.py-4.d-none(id="template-news")
          a.news-href(href="https://www.google.com", target="_blank", style="text-decoration:none;")
            .d-flex
              .flex-fill
                div
                  h4.small.news-source Bloomberg.com
                div
                  .text-muted.news-title Thousands rally in Asia for International Women's Day despite COVID-19 fears
                div.mt-2
                  .small.text-muted.news-published 12:40 PM on March 08, 2020
              div
                span.news-image.ml-3.mt-3(style="background-image: url('/dist/img/avatars/019bnd.jpg')")