.content
  .container(style='padding:0;')
    .card(style="max-width:32rem;margin:0 auto;")
      ul.list-group.card-list-group
        li.list-group-item.py-4
          .d-flex
            div
              span.avatar.mr-3(style="background-image: url('/dist/img/avatars/019bnd.jpg')")
            .flex-fill
              div
                small.float-right.text-muted
                  i.fe.fe-paperclip
                h4 Bundesgesundheitsministerium
              div
                | When it comes to health, everyone wants what's best for themselves and their families. See the latest information from the Federal Ministry of Health so you can help prevent the spread of novel coronavirus (COVID-19).
              a.btn.btn-secondary.btn-block.mt-4(style='font-size:12px;', href='https://www.bundesgesundheitsministerium.de/',target='_blank')
                | bundesgesundheitsministerium.de

        li.list-group-item.py-4
          .d-flex
            div
              span.avatar.mr-3(style="background-image: url('/dist/img/avatars/019m.jpg')")
            .flex-fill
              div
                small.float-right.text-muted 3 days ago
                h4 John Lo
              div
                | How long will COVID-19 persist? If the virus is not locally contained, the virus will probably see a resurgence in the fall season since vaccine development has been estimated to take another 12 - 14 months at least. With the help of community participation, Zerobase provides an effective infrastructure to identify and contain local clusters until a vaccine is developed and produced.
        li.list-group-item.py-4
          .d-flex
            div
              span.avatar.mr-3(style="background-image: url('/dist/img/avatars/019m.jpg')")
            .flex-fill
              div
                small.float-right.text-muted 3 days ago
                h4 John Lo
              div
                | What is the best way to prevent the spread of COVID-19? Based on multiple studies, washing your hands frequently with soap and warm water is the most effective method. Avoid touching your face, nose, and mouth. Wearing masks develops community resistance, but studies regarding individual usage seems only effective in preventing those already infected from spreading it further. There is some evidence to suggest that masks have a secondary effect on preventing one from touching their face thereby reducing transmission.