.content
  .container(style='padding:0;')
    .container
      h4.text-muted You currently have no notifications.
      p.text-muted
        | If the device ID has coincided with another device ID confirmed with a positive test result, you will be notified here. If your local public health requests you share your public key, you will also be notified. Your participation is optional and your device ID is never revealed.