nav#navbar-primary.navbar.navbar-expand-lg.navbar-light.navbar-primary
  .container.navbar-mobile
    .navbar-collapse.scroll
      h6.navbar-heading Navigation
      ul.nav.nav-tabs.flex-scroll(data-toggle='tabs')
        li.nav-item
          a.nav-link.active(href='#tabs-home', data-toggle='tab')
            | Home
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Use Case
          .dropdown-menu-overflow.dropdown-menu
            a.dropdown-item(href='#')
              | Individual
            a.dropdown-item(href='#')
              | Business or Location
            a.dropdown-item(href='#')
              | Healthcare Provider
            a.dropdown-item(href='#')
              | Community Leader

        li.nav-item
          a.nav-link(href='#tabs-about', data-toggle='tab')
            | About
        li.nav-item
          a.nav-link(href='#tabs-updates', data-toggle='tab')
            | Updates
        li.nav-item
          a.nav-link(href='#tabs-notifications', data-toggle='tab')
            | Notifications
        //- li.nav-item
        //-   a.nav-link(href='#tabs-news', data-toggle='tab')
        //-     | News