nav#navbar-secondary.navbar.navbar-dark.navbar-secondary.navbar-expand
  .container
    a.navbar-brand.navbar-brand-autodark.d-none-navbar-vertical(href='/')
      img.navbar-brand-logo.navbar-brand-logo-medium.mr-4(src='/dist/img/zerobase_logo_300_white.png', alt='Zerobase')
      img.navbar-brand-logo.navbar-brand-logo-small(src='/dist/img/zerobase_logo_300_white.png', alt='Zerobase')
      h4.d-none.d-sm-inline-block.text-standard.text-muted Smart Tracing That Keeps Communities Safe
    //-
    //- form.form-inline.w-50.mr-4.d-none.d-md-flex
    //-   .input-icon.w-100
    //-     span.input-icon-addon
    //-       svg.icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
    //-         circle(cx='11', cy='11', r='8')
    //-         line(x1='21', y1='21', x2='16.65', y2='16.65')
    //-     input.form-control.form-control-flush.w-100(type='text', placeholder='Search…')
    ul.navbar-nav.ml-auto
      li.nav-item.dropdown.pl-3
        a.nav-link.d-flex.lh-1.text-reset.p-0.text-left(href='#', data-toggle='dropdown')
          svg.feather.feather-plus-circle(xmlns='http://www.w3.org/2000/svg', width='28', height='28', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='1', stroke-linecap='round', stroke-linejoin='round')
            circle(cx='12', cy='12', r='10')
            line(x1='12', y1='8', x2='12', y2='16')
            line(x1='8', y1='12', x2='16', y2='12')
        .dropdown-menu.dropdown-menu-right.dropdown-menu-arrow
          #mobile-functions.d-none
            a#nav-scan.dropdown-item(href='#')
              i.fe.fe-maximize.mr-2
              | Scan
            a#nav-code.dropdown-item(href='#')
              svg.mr-2(height='10pt', viewbox='0 0 512 512', width='10pt', xmlns='http://www.w3.org/2000/svg')
                path(d='m256 60v40h-40v-40zm-40 235v57h40v-57zm120 217v-40h-40v-40h-40v80zm80-297h-120v40h120zm0 80h56v-40h-56zm0 57v40h96v-97h-40v57zm-120-352h-40v60h40zm-40 180h40v-80h-40v40h-40v115h40zm-256 35v80h40v-40h60v-40zm296 80v-40h-40v40zm80 40h40v-40h-40zm96-80h40v-40h-40zm-136 40h-40v57h-40v40h80zm-120 137h40v-40h-40zm120-40v40h80v-40zm120 80v-40h-40v40zm56 40v-40h-56v40zm-136 0h40v-40h-40zm-196-257v-40h-40v40h-40v40h116v-40zm0-75h-180v-180h180zm-40-140h-100v100h100zm-30 30h-40v40h40zm402-70v180h-180v-180zm-40 40h-100v100h100zm-30 30h-40v40h40zm-442 262h180v180h-180zm40 140h100v-100h-100zm30-30h40v-40h-40zm0 0')
              | Device Code
          #desktop-notice
            a#nav-non-mobile.dropdown-item(class="disabled")
              i.fe.fe-smartphone.mr-2
              | Please visit on a smartphone to access functions
          #registration-notice.d-none
            a#show-registration.dropdown-item(href='#')
              i.fe.fe-smartphone.mr-2
              | Enroll device to access functions
          .dropdown-divider
          a.dropdown-item(href="mailto:info@zerobase.io") Contact Us