doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Zerobase - Privacy First Contact Tracing for Communities
  link(rel='preconnect', href='https://fonts.gstatic.com/', crossorigin='')
  meta(name='msapplication-TileColor', content='#206bc4')
  meta(name='theme-color', content='#206bc4')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='HandheldFriendly', content='True')
  meta(name='MobileOptimized', content='320')
  meta(name='robots', content='noindex,nofollow,noarchive')

  meta(name='description', content='Privacy first contact tracing for communities')
  meta(property='og:url', content='https://www.zerobase.io')
  meta(property='og:type', content='website')
  meta(property='og:locale', content='en')
  meta(property='og:site_name', content='Zerobase')
  meta(property='og:image', content='https://www.zerobase.io/assets/img/logo_icon_200.png')
  meta(property='og:image:width', content='200')
  meta(property='og:image:height', content='200')
  meta(name='twitter:site', content='@Zerobaseio')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:image', content='https://www.zerobase.io/assets/img/logo_icon_200.png')

  link(rel='icon', href='/favicon.ico', type='image/x-icon')
  link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
  script(type="application/json" id="runtime-config").
    {{ RUNTIME_CONFIG }}
  //-Global site tag (gtag.js) - Google Analytics
  //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-159876597-1')
  //- script.
  //-   window.dataLayer = window.dataLayer || [];
  //-   function gtag(){dataLayer.push(arguments);}
  //-   gtag('js', new Date());
  //-   gtag('config', 'UA-159876597-1');

  link(href='/styles.min.css', rel='stylesheet')

body

  #app
    
    //- include ../toast/scanner-error

    .page(style="overflow:hidden;")
      include ../navigation/primary
      include ../navigation/secondary
    
      router-view

    include ../navigation/footer

  include ../modal/register
  //-include ../modal/register-business
  //-include ../modal/register-healthcare
  include ../modal/scan-status
  include ../modal/feedback
  include ../modal/register-notifications
  include ../modal/privacy-policy


script(src='https://cdn.jsdelivr.net/npm/places.js@1.18.1')
script(src='https://unpkg.com/vue/dist/vue.js')
script(src='https://unpkg.com/vue-router/dist/vue-router.js')
script(src='/main.min.js')
script(src='https://static.airtable.com/js/embed/embed_snippet_v1.js')
//-script(src='/controller.js')
