nav#navbar-primary.navbar.navbar-expand-lg.navbar-light.navbar-primary
  .container.navbar-mobile
    .navbar-collapse
      h6.navbar-heading Navigation
      ul.nav.nav-tabs(data-toggle='tabs')
        li.nav-item
          router-link.nav-link(to='/') Home
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Uses
          .dropdown-menu
            router-link.dropdown-item(to='/individual') Individuals
            router-link.dropdown-item(to='/community') Community Officials
            router-link.dropdown-item(to='/businesses') Business or Public Locations
            router-link.dropdown-item(to='/testing') Healthcare Testing Sites
        li.nav-item
          router-link.nav-link(to='/about') About
        li.nav-item
          router-link.nav-link(to='/privacy') Privacy
        li.nav-item
          router-link.nav-link(to='/contact') Contact Us