nav#navbar-primary.navbar.navbar-expand-lg.navbar-light.navbar-primary
  .container.navbar-mobile
    .navbar-collapse
      h6.navbar-heading Navigation
      ul.nav.nav-tabs(data-toggle='tabs')
        li.nav-item
          router-link.nav-link(to='/') Home
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') Information
          .dropdown-menu
            router-link.dropdown-item(to='/about') About
            router-link.dropdown-item(to='/privacy-policy') Privacy
            .dropdown-divider
            span.dropdown-header Use Cases
            router-link.dropdown-item(to='/individual')
              i.fe.fe-user.mr-2
              | Individual 
            router-link.dropdown-item(to='/businesses')
              i.fe.fe-home.mr-2
              | Business or Public Location 
            router-link.dropdown-item(to='/testing-facility')
              i.fe.fe-thermometer.mr-2
              | Testing Facilities
            router-link.dropdown-item(to='/community')
              i.fe.fe-shield.mr-2
              | Community 