nav#navbar-secondary.navbar.navbar-dark.navbar-secondary
  .container
    a.navbar-brand.d-none-navbar-vertical(href='/')
      img.navbar-brand-logo.navbar-brand-logo-medium.d-none.d-sm-inline-block.mr-4(src='/assets/img/ZerobaseLogo_Dark.png', alt='Zerobase')
      img.navbar-brand-logo.navbar-brand-logo-small.d-inline-block.d-sm-none(src='/assets/img/ZerobaseLogo_Dark_small.png', alt='Zerobase')
      h4.d-none.d-sm-inline-block.text-standard.text-muted Privacy-First Contact Tracing for Communities
    ul.navbar-nav.ml-auto.forMobile
      li.nav-item.dropdown.pl-3
        a.btn.btn-white.btn-icon(href='/scan', id='scan-button')
          i.fe.fe-maximize.mr-2
          | Scan