nav#navbar-secondary.navbar.navbar-dark.navbar-secondary.navbar-expand
  .container
    a.navbar-brand.d-none-navbar-vertical(href='/')
      img.navbar-brand-logo.navbar-brand-logo-medium.mr-4(src='/assets/img/ZerobaseLogo_Dark.png', alt='Zerobase')
      img.navbar-brand-logo.navbar-brand-logo-small(src='/assets/img/ZerobaseLogo_Dark.png', alt='Zerobase')
      h4.d-none.d-sm-inline-block.text-standard.text-muted Smart Tracing That Keeps Communities Safe
    ul.navbar-nav.ml-auto.forMobile
      li.nav-item.dropdown.pl-3
        router-link.btn.btn-white.btn-icon(to='/scan')
          i.fe.fe-maximize.mr-2
          | Scan