.toast(id='scanner-error', role='alert', aria-live='assertive', aria-atomic='true', data-autohide="false", style='position: absolute; top: 1rem; right: 1rem; z-index: 99999;')
  .toast-header
    strong.mr-auto Scanner
    small Just now
    button.ml-2.mb-1.close(type='button', data-dismiss='toast', aria-label='Close')
      span(aria-hidden='true') &times;
  .toast-body
    | Please enable camera permissions.
