.toast(role='alert', aria-live='assertive', aria-atomic='true', data-autohide='false', data-toggle='toast')
  .toast-header
    span.avatar.mr-2
    strong.mr-auto Mallory Hulme
    small 11 mins ago
    button.ml-2.close(type='button', data-dismiss='toast', aria-label='Close')
      span(aria-hidden='true') &times;
  .toast-body
    | Hello, world! This is a toast message.
