.content
  .container-fluid.w-100.p-0.mb-2.mb-md-6
    .row
       .col-12
          .card.mb-0
            .hero-img-height.hero-img-cover-top(style='{{backgroundImage: 'url(/assets/img/info/ZBHero_volunteer.jpg)', filter:'brightness(70%)'}}', alt='Nurse with clip board talking to patient.')

  .container
    .row.m-2.mb-6
      .title.col-12.col-md-8
        h2.align-center.pb-3.mbr-fonts-style.display-3
          | Volunteer
        h3.mbr-section-subtitle.align-center.mbr-light.mbr-fonts-style.display-5
          | Join the world-wide Zerobase team.

    .row.m-2.mb-md-5
        .col-lg-12.col-12
          p.lead.lh-180(style="{{fontSize:'24px'}}")
            | We are a free, privacy-first contact tracing platform that empowers both individuals and local officials to stop the spread of COVID-19 in a way that is private, easy to use, and helps to alleviate the manual issues involved in contact tracing and individualized testing. To learn more about zerobase and the importance of tracing, read our 
            router-link.text-wrap(to='/about') about page.

 