#modal-register-notifications.modal.modal-blur.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
    .modal-content(style="min-height:100vh")
      .modal-header
        h5.modal-title Opt-in for Notifications
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          svg.icon(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            line(x1='18', y1='6', x2='6', y2='18')
            line(x1='6', y1='6', x2='18', y2='18')
      .modal-body
        .card
          .card-body
            .px-3
              .DashedConnection.mb-0.mx-auto.d-block.d-md-none(style='width: 200px;')
                .d-flex.flex-justify-between.flex-items-center.py-4
                  span.avatar.avatar-md.avatar-shadow(style="background-image:url(/assets/img/anon-2.png)")
                  span.avatar.avatar-lg.bg-white.avatar-shadow
                    |🔔
                  span.avatar.avatar-md(style="background-image:url(/assets/img/logo_icon_200.jpg)")
            p.text-center If you'd like, we can notify you in the future if you may have been exposed to COVID-19. We keep your information safe and are proud to put your privacy first. Please read our Privacy Policy before accepting and proceeding.
        .alert.alert-warning.text-left.d-none.mt-4(role='alert', id='notify-warning')
          i.fe.fe-alert-triangle.mr-2
          | Please accept the privacy policy and enter a valid phone number
        .alert.alert-success.text-left.d-none.mt-4(role='alert', id='notify-success')
          i.fe.fe-check.mr-2
          | You are now registered for alerts.
        .input-group.mb-0.mt-4
          //- .input-group-prepend
          span.input-group-text
            input.form-check-input.m-0(type='checkbox', id='notify-agree')
            a.ml-2.text-blue(id="privacy-policy") Privacy Policy
          input.form-control(id='notify-phone' type='text', name='input-mask', data-mask='+0 (000) 000-0000', data-mask-visible='true', placeholder='+0 (000) 000-0000', autocomplete='off')
        a.btn.btn-primary.btn-block.mt-0(href='#', id="notify-submit" style="border-radius: 0px 0px 3px 3px;")
          | Keep me notified

      .modal-footer
        button.btn.btn-secondary.btn-block(type='button', data-dismiss='modal') Close
